body {
    background-color: #141414;
    margin-bottom: 50px;
    color: #FFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FFF;
}

.navbar-dark {
    background-color: #141414!important;
}

.box-element {
    box-shadow: black 0 0 5px;
    background-color: black;
    border-radius: 4px;
    padding: 10px;
}

.thumbnail {
    border-radius: 25px;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: -1px -3px 5px -2px black;
    -moz-box-shadow: -1px -3px 5px -2px black;
    box-shadow: -1px -3px 5px -2px black;
}

.product {
    border-radius: 0 0 4px 4px;
}

#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #28A745;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 25px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.count {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;
}

.chg-count {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-count:hover {
    opacity: .6;
}

.hidden {
    display: none!important;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 25px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: hsl(0, 0%, 98%);
    color: black;
    border-radius: 25px;
}

.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back h6,
h4 {
    color: white;
    margin-top: 40px;
    font-size: 36px;
}

.btn-success {
    border-radius: 25px;
}