{% extends 'store/main.html' %} {% load static %} {% block content %}

<div style="margin-top:50px; margin-bottom: 150px;" class="container">
    <div class="row">
        <div class="col-sm">
            <img style="width: 60%;" class="thumbnail" src="{{product.imageURL}}" alt="">
        </div>
        <div class="col-sm">
            <h1>{{product.name}}</h1>
            <p style="margin-top: 25px;">{{product.description}}</p>
            <h1 style="margin-top: 25px;">{{product.price}} PLN</h1>
            <button style="background-color: #6351CE!important; border-radius: 0px; border-color: #6351CE!important;" data-product={{ product.id }} data-action="add" class="btn btn-success add-product">Add to Cart</button>
        </div>
    </div>
</div>



{% endblock content %}